* {
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 5px;
  margin-left: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
